* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgb(91, 144, 145);
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-size: 17px;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.title {
  margin: 20px;
}

.card {
  width: 300px;
  height: 350px;
  padding: 10px;
  background-color: rgb(231, 231, 231);
  border: 1px solid;
  box-shadow: 1px 4px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 20px; */
}

.card:hover {
  box-shadow: 1px 6px 8px;
}

.link {
  color: black;
  text-decoration: none;
  margin: 15px;
}

.filter {
  padding: 5px;
  margin: 10px;
}

.btn-primary {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 4px;
}

.fullcard {
  margin: 30px 0 0 0;
}
