* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  background-color: rgb(74, 142, 143);
  color: aliceblue;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  font-size: 17px;
}

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  height: 350px;
  padding: 10px;
  background-color: rgb(204, 207, 207);
  border: 1px solid;
  box-shadow: 1px 4px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 20px; */
}

.card:hover {
  box-shadow: 1px 6px 8px;
}

.link {
  color: black;
  text-decoration: none;
  margin: 15px;
}

.filter {
  padding: 5px;
  margin: 10px;
}
